VideoGameQuotes/.idea/.name
VideoGameQuotes/.idea/.name
VideoGameQuotes/.idea/.name
VideoGameQuotes/.idea/modules.xml
VideoGameQuotes/.idea/gradle.xml
VideoGameQuotes/.idea/compiler.xml
issues.txt
icon/pacman.png
screenshots/Screenshot_20160510-190130.png
*.xcf
screenshots/layout-2016-04-26-191023.png
