screenshots/
VideoGameQuotes/.idea/.name
VideoGameQuotes/.idea/.name
VideoGameQuotes/.idea/.name
VideoGameQuotes/.idea/modules.xml
VideoGameQuotes/.idea/gradle.xml
VideoGameQuotes/.idea/compiler.xml
issues.txt
icon/pacman.png
